@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 23, 23;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
      /* Neutral dark gray */
      /* background-color: #171717;  */
}

/* Remove default focus outline */
* {
  outline: none;
  border: none;
}
/* Prevents unwanted border or flash effect on click */
*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
/* Keep accessibility for keyboard navigation */
*:focus-visible {
  outline: 2px solid #ffd700; /* Optional: Custom focus style */
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .paused {
    animation-play-state: paused;
  }
}

/* AFTER ALL THESE I ADDED */
* {
  scroll-behavior: smooth;
  /* transition: all 5s ease; */
}

/* globals.css or styles.css */
.gradient-border {
  position: relative;
  border: 1px solid transparent;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(510deg, red, blue, black, black, black, black);
  border-radius: inherit;
  z-index: -1;
}

/* DARK SCROLLBAR CODE */
/* For Webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Darker thumb */
  border-radius: 6px;
  border: 3px solid #2d2d2d; /* Same as track background */
}

/* For Firefox */
/* scrollbar-width: thin;
scrollbar-color: #555 #2d2d2d; */
